.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(35,35,35,1.00) 0%,rgba(37,36,36,1.00) 0%,rgba(255,255,255,1.00) 24.87%,rgba(252,248,248,1.00) 73.05%,rgba(0,0,0,1.00) 95.34%);
    background-image: -moz-linear-gradient(270deg,rgba(35,35,35,1.00) 0%,rgba(37,36,36,1.00) 0%,rgba(255,255,255,1.00) 24.87%,rgba(252,248,248,1.00) 73.05%,rgba(0,0,0,1.00) 95.34%);
    background-image: -o-linear-gradient(270deg,rgba(35,35,35,1.00) 0%,rgba(37,36,36,1.00) 0%,rgba(255,255,255,1.00) 24.87%,rgba(252,248,248,1.00) 73.05%,rgba(0,0,0,1.00) 95.34%);
    background-image: linear-gradient(180deg,rgba(35,35,35,1.00) 0%,rgba(37,36,36,1.00) 0%,rgba(255,255,255,1.00) 24.87%,rgba(252,248,248,1.00) 73.05%,rgba(0,0,0,1.00) 95.34%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(114,110,110,1.00) 7.78%,rgba(137,136,147,1.00) 94.82%);
    background-image: -moz-linear-gradient(270deg,rgba(114,110,110,1.00) 7.78%,rgba(137,136,147,1.00) 94.82%);
    background-image: -o-linear-gradient(270deg,rgba(114,110,110,1.00) 7.78%,rgba(137,136,147,1.00) 94.82%);
    background-image: linear-gradient(180deg,rgba(114,110,110,1.00) 7.78%,rgba(137,136,147,1.00) 94.82%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #F9E100;
    font-weight: 700;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #000000;
    color: #FBDA00;
}

#accordion1 .card #headingOne1 {
    background-color: #000000;
}
#accordion1 .card #headingTwo1 {
    background-color: #000000;
}
#accordion1 .card #headingThree1 {
    background-color: #000000;
}
#headingOne1 .mb-0 a {
    color: #FCE303;
}
#headingTwo1 .mb-0 .collapsed {
    color: #FDDC00;
}
#headingThree1 .mb-0 .collapsed {
    color: #FDE400;
}
.container-fluid .container footer {
    color: #F7F7F7;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand img {
    background-color: #FBFBFB;
}

.carousel-inner .carousel-item .carousel-caption {
    background-image: -webkit-linear-gradient(270deg,rgba(253,253,251,0.49) 0%,rgba(251,234,10,0.50) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(253,253,251,0.49) 0%,rgba(251,234,10,0.50) 100%);
    background-image: -o-linear-gradient(270deg,rgba(253,253,251,0.49) 0%,rgba(251,234,10,0.50) 100%);
    background-image: linear-gradient(180deg,rgba(253,253,251,0.49) 0%,rgba(251,234,10,0.50) 100%);
    color: #000000;
    font-weight: bold;
    font-size: large;

}
